<div class="widget-content bg-arielle-smile">
    <div class="widget-content-wrapper text-white">

        <div class="widget-numbers text-white"><span>Registration</span></div>

    </div>
</div>

<div class="widget-content bg-arielle">

    <div id="All-data-Container">

        <div style="width: 95%; margin: auto;">
            <div class="margin-bottom section-title">
                <h2 id="title-section">Select Your Option</h2>
            </div>


            <div class="row">
                <div (click)="toRegistration()" class="col-md-6 col-xl-4 ">
                    <div class="card mb-3 widget-content bg-midnight-bloom clickable">
                        <div class="widget-content-wrapper text-white ">
                            <div class="widget-content-left">
                                <div class="widget-heading">Faculty Member</div>
                                <div class="widget-subheading"></div>
                            </div>
                            <div class="widget-content-right">
                                <div class="widget-numbers text-white"><span>&#10132;</span></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-4">
                    <div class="card mb-3 widget-content bg-midnight-bloom clickable">
                        <div class="widget-content-wrapper text-white">
                            <div class="widget-content-left">
                                <div class="widget-heading">Student</div>
                                <div class="widget-subheading"></div>
                            </div>
                            <div class="widget-content-right">
                                <div class="widget-numbers text-white"><span>&#10132;</span></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-4 ">
                    <div class="card mb-3 widget-content bg-midnight-bloom clickable">
                        <div class="widget-content-wrapper text-white">
                            <div class="widget-content-left">
                                <div class="widget-heading">Staff</div>
                                <div class="widget-subheading"></div>
                            </div>
                            <div class="widget-content-right">
                                <div class="widget-numbers text-white"><span>&#10132;</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



        </div>














    </div>
</div>